{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Call Authenticator",
    "description": "Sample API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-voiceauth.ryuuabcderf.xyz"
    }
  ],
  "paths": {
    "/api/v1/call_authenticator/verify": {
      "post": {
        "description": "Tạo yêu cầu xác thực mới",
        "requestBody": {
          "description": "Verify Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Verify Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "verifyResult":  {
            "{$request.body#/callback_url}": {
              "post": {
                "description": "Webhook bạn cần xây dựng để hứng kết quả xác thực từ hệ thống Call Authenticator",
                "requestBody": {
                  "description": "Webhook Request",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookRequest"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Trả về 200 để thông báo đã nhận được kết quả xác thực thành công"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VerifyRequest": {
        "required": [
          "api_key",
          "customer_phone",
          "callback_url"
        ],
        "type": "object",
        "properties": {
          "api_key": {
            "description": "API Key để xác thực",
            "type": "string"
          },
          "customer_phone": {
            "description": "Số điện thoại cần xác thực",
            "type": "string"
          },
          "callback_url": {
            "description": "Đường dẫn API webhook để hệ thống gửi về kết quả xác thực OTP thông qua điện thoại",
            "type": "string"
          },
          "metadata": {
            "description": "Thông tin dữ liệu muốn bổ sung trong dữ liệu callback",
            "type": "string"
          }
        }
      },
      "VerifyResponse": {
        "required": [
          "status",
          "msg",
          "session_id",
          "otp_code",
          "expire_time"
        ],
        "type": "object",
        "properties": {
          "status": {
            "description": "Mã phản hồi: <br/>200: Thành công. <br/>400: Bad Request. <br/>500: Có lỗi xảy ra.",
            "type": "integer",
            "format": "int32"
          },
          "msg": {
            "description": "Thông báo phản hồi",
            "type": "string"
          },
          "session_id": {
            "description": "Mã định danh của phiên xác thực",
            "type": "string"
          },
          "otp_code": {
            "description": "Mã xác thực cần hiển thị trên giao diện",
            "type": "string"
          },
          "expire_time": {
            "description": "Thời gian hết hạn của mã xác thực, định dạng timestamp millisecond. Nếu thời gian vượt ngưỡng expire_time, bạn cần request 1 phiên xác thực mới",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "WebhookRequest": {
        "required": [
          "session_id",
          "verify_code",
          "verify_result"
        ],
        "type": "object",
        "properties": {
          "session_id": {
            "description": "Mã định danh của phiên xác thực",
            "type": "string"
          },
          "verify_code": {
            "description": "Mã kết quả xác thực OTP, là 1 trong các giá trị:\n- 200 : Xác thực thành công\n- 301: Xác thực thất bại - KH có nhấc máy\n- 401: Xác thực thất bại - Không kết nối được KH",
            "type": "integer",
            "format": "int32"
          },
          "verify_result": {
            "description": "Nội dung kết quả xác thực",
            "type": "string"
          },
          "metadata": {
            "description": "Thông tin dữ liệu được bổ sung tại request tương ứng (nếu có)",
            "type": "string"
          }
        }
      }
    }
  }
}
