{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Call Authenticator",
    "description": "Sample API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-voiceauth.ryuuabcderf.xyz"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/call_authenticator/verify": {
      "post": {
        "description": "Tạo yêu cầu xác thực mới",
        "requestBody": {
          "description": "Verify Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Verify Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VerifyRequest": {
        "required": [
          "api_key",
          "customer_phone",
          "callback_url"
        ],
        "type": "object",
        "properties": {
          "api_key": {
            "description": "API Key để xác thực",
            "type": "string"
          },
          "customer_phone": {
            "description": "Số điện thoại cần xác thực",
            "type": "string"
          },
          "callback_url": {
            "description": "Đường dẫn API webhook để hệ thống gửi về kết quả xác thực OTP thông qua điện thoại",
            "type": "string"
          },
          "metadata": {
            "description": "Thông tin dữ liệu muốn bổ sung trong dữ liệu callback",
            "type": "string"
          }
        }
      },
      "VerifyResponse": {
        "required": [
          "status",
          "msg",
          "session_id",
          "otp_code",
          "expire_time"
        ],
        "type": "object",
        "properties": {
          "status": {
            "description": "Mã phản hồi",
            "type": "integer",
            "format": "int32"
          },
          "msg": {
            "description": "Thông báo phản hồi",
            "type": "string"
          },
          "session_id": {
            "description": "Mã định danh của phiên xác thực",
            "type": "string"
          },
          "otp_code": {
            "description": "Mã xác thực cần hiển thị trên giao diện",
            "type": "string"
          },
          "expire_time": {
            "description": "Thời gian hết hạn của mã xác thực, định dạng timestamp millisecond. Nếu thời gian vượt ngưỡng expire_time, bạn cần request 1 phiên xác thực mới",
            "type": "integer",
            "format": "int32"
          }
        }
      }
    }
  }
}
